rules_version = '2';

service firebase.storage {
match /b/{bucket}/o {
// Permite todas las lecturas y escrituras sin autenticación.
// ¡OJO! Esto es solo para el desarrollo local con emuladores.
// Nunca uses estas reglas en producción.
match /{allPaths=**} {
allow read, write: if true;
}
}
}